{% extends 'campaignfinance/base.html' %}

{% block title %}Relationships{% endblock title %}

{% block content %}
<h3>Relationships</h3>
<div class="filter-options-row">
    <form class="category-select" method="GET" action="{% url 'campaignfinance:relationshipindex' %}">
        <select name="category" id="category-select">
        {% for name, value in filter_categories.items %}
            <option value="{{ name }}" {% if name == request.GET.category %}selected{% endif %}>{{ name }}</option> 
        {% endfor %}
        </select>
        {% if request.GET.sortby %}
            <input type="hidden" name="sortby" value="{{ request.GET.sortby }}">
        {% endif %}
    </form>
    <form class="sort-select" method="GET" action="{% url 'campaignfinance:relationshipindex' %}">
        <select name="sortby" id="sortby-select">
            {% for name, value in sort_by_fields.items %}
            <option value="{{ name }}" {% if name == request.GET.sortby %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
        </select>
        {% if request.GET.category %}
            <input type="hidden" name="category" value="{{ request.GET.category }}">
        {% endif %}
    </form>
</div>
<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Member</th>
            <th>Member</th>
        </tr>
    </thead>
    <tbody>
        {% if relationship_list %}
            {% for relationship in relationship_list %}
            <tr onclick="location.href='{% url 'campaignfinance:relationshipdetail' relationship.uuid %}';">
                <td>{{ relationship.category }}</td>
                <td>{{ relationship.parent_entity }}</td>
                <td>{{ relationship.child_entity }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>No data found.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}